<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label><h2>Öğrenci Adı </h2></label>
    <label><h3>{{ name }}</h3></label><br>
    <label><h2>Matematik Notu </h2></label>
    <label><h3>{{ mat }}</h3></label><br>
    <label><h2>Fen Notu </h2></label>
    <label><h3>{{ fen }}</h3></label

</body>
</html>