<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    
    <!-- fonts collection 8 -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/bootstrap.extension.css" rel="stylesheet" type="text/css" />
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="static/css/swiper.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="static/css/ie8-and-down.css" />
    <![endif]-->
    <!--[if IE 9]>
        <link href="static/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="shortcut icon" href="static/img/logo.jpg" />
  	<title>PROJE ANASAYFA</title>
</head>
<body class="fonts-8">

    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <div class="overlay frame" data-rel="1">
        <div class="animation-wrapper full-size"></div>
        <div class="content-wrapper full-size">
            <div class="overlay-cell-align">
                <div class="cell-view page-height">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                            
                                <nav class="text-center single-column clearfix">
                                    <ul>
                                        <li class="active"><a href="/">ANASAYFA</a></li>
                                        <li><a href="/proje">NEDEN MAAŞ HESAPLAYICI</a></li>
                                        <li><a href="/team">TAKIMIMIZ</a></li>
                                        <li><a href="/statistics">İSTATİSTİKLER</a></li>
                                        <li><a href="/hesapla">MAAŞ HESAPLAYICI</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="button-close"></a>
        </div>
    </div>

    <div id="content-block">
        <!-- HEADER -->
        <header class="type-4 fixed white">
            <div class="wide-container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-sm-12 col-xs-text-left col-sm-text-center">
                        <a href="/" class="logo"><img src="static/img/logo3.webp" alt="" /></a>
                    </div>
                    <div class="col-xs-6 text-right visible-xs">
                        <div class="hamburger-icon open-overlay" data-rel="1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="close-layer toggle-visibility"><div class="button-close"></div></div>
        </header>

        <div class="page-height">

            <div class="homepage-4-container">

                <div class="homepage-4-slider style-1 dark-overlay">

                    <nav class="homepage-4-slider-navigation left hidden-xs text-center">
                        <div class="rotate">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="mouseover-simple" href="/proje">NEDEN MAAŞ HESAPLAYICI?</a>
                                </div>
                                <div class="col-sm-6">
                                    <a class="mouseover-simple" href="/team">TAKIMIMIZ</a>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <nav class="homepage-4-slider-navigation right hidden-xs text-center">
                        <div class="rotate">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="mouseover-simple" href="/statistics">İSTATİSTİKLER</a>
                                </div>
                                <div class="col-sm-6">
                                    <a class="mouseover-simple" href="/hesapla">MAAŞ HESAPLAYICI</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    
                    <div class="full-size-banner-entry full-size valign-middle">
                        <div class="full-size video-wrapper shadow">
                            <video loop autoplay muted>
                                <source src="static/video/video2.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="valign-text-wrapper text-center">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="h2 light"><b>Gelecek çok hızlı gelecek...!</b></div>
                                    <div class="empty-space col-xs-b15"></div>
                                    <div class="banner-max-width">
                                        <div class="simple-article large light transparent">Personel Karar Destek Sistemi Herkes için en iyisi...</div>
                                    </div>
                                    <div class="empty-space col-xs-b35"></div>
                                    <a class="button light type-3" href="/hesapla">MAAŞ HESAPLAYICI</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- FOOTER -->
        <footer class="type-2 light">
            <div class="wide-container-fluid">
                <div class="row">
                    <div class="col-md-6 col-xs-text-center col-md-text-left col-sm-b10 col-md-b0">
                        <div class="copyright">
                            <div class="simple-article small grey">
                                © 2022 ykakkaya.
                                <div class="developed-by">Development <i class="fa fa-heart"></i> by <a href="https://www.miuul.com/" target="blank">miuul DSMLBC10 Yasemin Arslan Team.</a></div>
                            </div>
                        </div>
                        <div class="empty-space col-xs-b20 col-md-b0"></div>
                    </div>
                    <div class="col-md-6 col-xs-text-center col-md-text-right">
                        <div class="follow style-1">
                            <span class="title">BİZİ TAKİP EDİN:</span>
                            <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="entry" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                            <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="static/js/jquery-2.1.4.min.js"></script>
    <script src="static/js/swiper.jquery.min.js"></script>
    <script src="static/js/jquery.mousewheel.min.js"></script>
    <script src="static/js/global.js"></script>

</body>
</html>
